In [1]:
#view data
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://ia-340-2025-fall-monsenca/Motor_Vehicle_Collisions_-_Crashes.csv.crdownload') # load the data from s3
df.head() #show the top 5 rows

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765.0,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547.0,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,Unspecified,NaN,NaN,4675373.0,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903.0,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4566131.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [2]:
# A. I used head to view my data so it shows the first 5 rows. There are both numeric and text columns. As a first impression, I see a lot of missing values in several different columns so those will need to be handled.

In [3]:
df.shape

(1141419, 29)

In [4]:
#rename columns
df = df.rename(columns={"CRASH DATE": "Date"})
df.head()

,Date,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765.0,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547.0,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,Unspecified,NaN,NaN,4675373.0,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903.0,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4566131.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [5]:
df.isnull().sum()

Date                                   0
CRASH TIME                             0
BOROUGH                           401793
ZIP CODE                          401983
LATITUDE                           83292
LONGITUDE                          83292
LOCATION                           83292
ON STREET NAME                    287041
CROSS STREET NAME                 591298
OFF STREET NAME                   855578
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              30
NUMBER OF PEDESTRIANS INJURED          1
NUMBER OF PEDESTRIANS KILLED           1
NUMBER OF CYCLIST INJURED              1
NUMBER OF CYCLIST KILLED               1
NUMBER OF MOTORIST INJURED             1
NUMBER OF MOTORIST KILLED              1
CONTRIBUTING FACTOR VEHICLE 1       4732
CONTRIBUTING FACTOR VEHICLE 2     208109
CONTRIBUTING FACTOR VEHICLE 3    1053060
CONTRIBUTING FACTOR VEHICLE 4    1120210
CONTRIBUTING FACTOR VEHICLE 5    1135364
COLLISION_ID                           1
VEHICLE TYPE CODE 1                10245
VEHICLE TYPE CODE 2               291704
VEHICLE TYPE CODE 3              1058181
VEHICLE TYPE CODE 4              1121215
VEHICLE TYPE CODE 5              1135587
dtype: int64

In [6]:
df = df[['Date', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']]

In [7]:
df.isnull().sum()

Date                                  0
CRASH TIME                            0
BOROUGH                          401793
ZIP CODE                         401983
LATITUDE                          83292
LONGITUDE                         83292
ON STREET NAME                   287041
CROSS STREET NAME                591298
OFF STREET NAME                  855578
NUMBER OF PERSONS INJURED            18
NUMBER OF PERSONS KILLED             30
NUMBER OF PEDESTRIANS INJURED         1
NUMBER OF PEDESTRIANS KILLED          1
NUMBER OF CYCLIST INJURED             1
NUMBER OF CYCLIST KILLED              1
NUMBER OF MOTORIST INJURED            1
NUMBER OF MOTORIST KILLED             1
CONTRIBUTING FACTOR VEHICLE 1      4732
CONTRIBUTING FACTOR VEHICLE 2    208109
COLLISION_ID                          1
VEHICLE TYPE CODE 1               10245
VEHICLE TYPE CODE 2              291704
dtype: int64

In [8]:
df = df.fillna(0)

In [9]:
df.isnull().sum()

Date                             0
CRASH TIME                       0
BOROUGH                          0
ZIP CODE                         0
LATITUDE                         0
LONGITUDE                        0
ON STREET NAME                   0
CROSS STREET NAME                0
OFF STREET NAME                  0
NUMBER OF PERSONS INJURED        0
NUMBER OF PERSONS KILLED         0
NUMBER OF PEDESTRIANS INJURED    0
NUMBER OF PEDESTRIANS KILLED     0
NUMBER OF CYCLIST INJURED        0
NUMBER OF CYCLIST KILLED         0
NUMBER OF MOTORIST INJURED       0
NUMBER OF MOTORIST KILLED        0
CONTRIBUTING FACTOR VEHICLE 1    0
CONTRIBUTING FACTOR VEHICLE 2    0
COLLISION_ID                     0
VEHICLE TYPE CODE 1              0
VEHICLE TYPE CODE 2              0
dtype: int64

In [10]:
# B. I renamed the CRASH DATE column to Date to shorten it. There were thousands of missig values. In some columns there were almost as many missing values as values so I set df to only account for the columns that had sufficient data. Then after that I filled the missing values of the remaining columns with 0.

In [23]:
df['LONGITUDE']

0            0.000000
1            0.000000
2          -73.970024
3            0.000000
4            0.000000
              ...
1141414    -74.025734
1141415   -201.237060
1141416    -73.811730
1141417    -73.856260
1141418    -73.922820
Name: LONGITUDE, Length: 1141419, dtype: float64

In [24]:
sorted_df = df.sort_values(by="LONGITUDE")
display(sorted_df)

,Date,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
905624,01/19/2018,16:32,0,0.0,40.75837,-201.23706,QUEENSBORO BRIDGE UPPER ROADWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Unspecified,Unspecified,3832438.0,Sedan,Sedan
892927,02/17/2018,18:50,0,0.0,40.75837,-201.23706,QUEENSBORO BRIDGE UPPER ROADWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Unspecified,Unspecified,3849177.0,Taxi,Sedan
818199,05/26/2018,2:05,0,0.0,40.75837,-201.23706,QUEENSBORO BRIDGE UPPER ROADWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inexperience,Driver Inexperience,3909853.0,Sedan,Taxi
766094,08/20/2018,10:00,0,0.0,40.75837,-201.23706,QUEENSBORO BRIDGE UPPER ROADWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inattention/Distraction,Unspecified,3965268.0,Sedan,Sedan
1071671,05/09/2017,17:25,0,0.0,40.75837,-201.23706,QUEENSBORO BRIDGE UPPER ROADWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inattention/Distraction,Unspecified,3666689.0,Taxi,Van
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564551,08/08/2019,22:48,0,0.0,0.00000,0.00000,ROCKAWAY BOULEVARD,BROOKVILLE BOULEVARD,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Unspecified,Unspecified,4185424.0,Sedan,Sedan
564523,08/03/2019,10:00,0,0.0,0.00000,0.00000,NEW ENGLAND THRUWAY,0,0,1.0,...,0.0,0.0,0.0,1.0,0.0,Following Too Closely,Unspecified,4182436.0,Station Wagon/Sport Utility Vehicle,Chassis Cab
564579,07/22/2019,1:55,0,0.0,0.00000,0.00000,LIBERTY AVENUE,VANWYCK EXPRESSWAY,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Fell Asleep,Unspecified,4177537.0,Dump,Sedan
564557,08/05/2019,0:00,0,0.0,0.00000,0.00000,HUTCHINSON RIVER PARKWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inattention/Distraction,Unspecified,4183620.0,Sedan,Station Wagon/Sport Utility Vehicle
43,01/12/2023,21:00,BROOKLYN,11208.0,0.00000,0.00000,0,0,97-16 DREW STREET,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inattention/Distraction,Unspecified,4598234.0,Station Wagon/Sport Utility Vehicle,0

In [25]:
display(sorted_df.iloc[5:10])

,Date,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
1034742,06/25/2017,2:55,0,0.0,40.75837,-201.23706,QUEENSBORO BRIDGE UPPER ROADWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Unspecified,Unspecified,3698752.0,Station Wagon/Sport Utility Vehicle,Taxi
1083429,01/25/2017,13:20,0,0.0,40.75837,-201.23706,QUEENSBORO BRIDGE UPPER ROADWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Unspecified,0,3604794.0,Sedan,0
947410,11/14/2017,18:42,0,0.0,40.75837,-201.23706,QUEENSBORO BRIDGE UPPER ROADWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inattention/Distraction,Unspecified,3795169.0,Taxi,Sedan
863431,04/07/2018,1:20,0,0.0,40.75837,-201.23706,QUEENSBORO BRIDGE UPPER ROADWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,3877672.0,Sedan,Taxi
1110108,03/04/2017,18:30,0,0.0,40.75837,-201.23706,QUEENSBORO BRIDGE UPPER ROADWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inattention/Distraction,Unspecified,3626730.0,Sedan,Station Wagon/Sport Utility Vehicle

In [31]:
sorted_filtered = df.sort_values(by="LONGITUDE")
display(sorted_filtered[sorted_filtered["LONGITUDE"] > -50])

,Date,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
1113708,03/03/2017,0:00,0,0.0,40.556175,-47.209625,WEST SHORE EXPRESSWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Reaction to Uninvolved Vehicle,0,3625066.0,Station Wagon/Sport Utility Vehicle,0
1080594,05/15/2017,18:40,0,0.0,40.556175,-47.209625,WEST SHORE EXPRESSWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Unspecified,Unspecified,3672194.0,Sedan,Sedan
972393,10/14/2017,8:30,0,0.0,40.556175,-47.209625,WEST SHORE EXPRESSWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Unspecified,0,3772990.0,Sedan,0
1030405,07/05/2017,3:00,0,0.0,40.665226,-32.768513,NASSAU EXPRESSWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,3705394.0,Sedan,Station Wagon/Sport Utility Vehicle
957505,10/26/2017,9:00,0,0.0,40.665226,-32.768513,NASSAU EXPRESSWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Unspecified,Unspecified,3777311.0,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564551,08/08/2019,22:48,0,0.0,0.000000,0.000000,ROCKAWAY BOULEVARD,BROOKVILLE BOULEVARD,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Unspecified,Unspecified,4185424.0,Sedan,Sedan
564523,08/03/2019,10:00,0,0.0,0.000000,0.000000,NEW ENGLAND THRUWAY,0,0,1.0,...,0.0,0.0,0.0,1.0,0.0,Following Too Closely,Unspecified,4182436.0,Station Wagon/Sport Utility Vehicle,Chassis Cab
564579,07/22/2019,1:55,0,0.0,0.000000,0.000000,LIBERTY AVENUE,VANWYCK EXPRESSWAY,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Fell Asleep,Unspecified,4177537.0,Dump,Sedan
564557,08/05/2019,0:00,0,0.0,0.000000,0.000000,HUTCHINSON RIVER PARKWAY,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inattention/Distraction,Unspecified,4183620.0,Sedan,Station Wagon/Sport Utility Vehicle
43,01/12/2023,21:00,BROOKLYN,11208.0,0.000000,0.000000,0,0,97-16 DREW STREET,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inattention/Distraction,Unspecified,4598234.0,Station Wagon/Sport Utility Vehicle,0

In [ ]:
#I selected and sorted the longitude column in order to put the variable in more