In [19]:
#view data
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://ia-340-2025-fall-monsenca/Motor_Vehicle_Collisions_-_Crashes.csv.crdownload') # load the data from s3
df.head() #show the top 5 rows

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765.0,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547.0,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,Unspecified,NaN,NaN,4675373.0,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903.0,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4566131.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [20]:
# A. I used head to view my data so it shows the first 5 rows. There are both numeric and text columns. As a first impression, I see a lot of missing values in several different columns so those will need to be handled.

In [21]:
df.shape

(1141419, 29)

In [22]:
#rename columns
df = df.rename(columns={"CRASH DATE": "Date"})
df.head()

,Date,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765.0,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547.0,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,Unspecified,NaN,NaN,4675373.0,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903.0,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4566131.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [23]:
df.isnull().sum()

Date                                   0
CRASH TIME                             0
BOROUGH                           401793
ZIP CODE                          401983
LATITUDE                           83292
LONGITUDE                          83292
LOCATION                           83292
ON STREET NAME                    287041
CROSS STREET NAME                 591298
OFF STREET NAME                   855578
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              30
NUMBER OF PEDESTRIANS INJURED          1
NUMBER OF PEDESTRIANS KILLED           1
NUMBER OF CYCLIST INJURED              1
NUMBER OF CYCLIST KILLED               1
NUMBER OF MOTORIST INJURED             1
NUMBER OF MOTORIST KILLED              1
CONTRIBUTING FACTOR VEHICLE 1       4732
CONTRIBUTING FACTOR VEHICLE 2     208109
CONTRIBUTING FACTOR VEHICLE 3    1053060
CONTRIBUTING FACTOR VEHICLE 4    1120210
CONTRIBUTING FACTOR VEHICLE 5    1135364
COLLISION_ID                           1
VEHICLE TYPE CODE 1                10245
VEHICLE TYPE CODE 2               291704
VEHICLE TYPE CODE 3              1058181
VEHICLE TYPE CODE 4              1121215
VEHICLE TYPE CODE 5              1135587
dtype: int64

In [24]:
df = df[['Date', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']]

In [25]:
df.isnull().sum()

Date                                  0
CRASH TIME                            0
BOROUGH                          401793
ZIP CODE                         401983
LATITUDE                          83292
LONGITUDE                         83292
ON STREET NAME                   287041
CROSS STREET NAME                591298
OFF STREET NAME                  855578
NUMBER OF PERSONS INJURED            18
NUMBER OF PERSONS KILLED             30
NUMBER OF PEDESTRIANS INJURED         1
NUMBER OF PEDESTRIANS KILLED          1
NUMBER OF CYCLIST INJURED             1
NUMBER OF CYCLIST KILLED              1
NUMBER OF MOTORIST INJURED            1
NUMBER OF MOTORIST KILLED             1
CONTRIBUTING FACTOR VEHICLE 1      4732
CONTRIBUTING FACTOR VEHICLE 2    208109
COLLISION_ID                          1
VEHICLE TYPE CODE 1               10245
VEHICLE TYPE CODE 2              291704
dtype: int64

In [27]:
df = df.fillna(0)

In [28]:
df.isnull().sum()

Date                             0
CRASH TIME                       0
BOROUGH                          0
ZIP CODE                         0
LATITUDE                         0
LONGITUDE                        0
ON STREET NAME                   0
CROSS STREET NAME                0
OFF STREET NAME                  0
NUMBER OF PERSONS INJURED        0
NUMBER OF PERSONS KILLED         0
NUMBER OF PEDESTRIANS INJURED    0
NUMBER OF PEDESTRIANS KILLED     0
NUMBER OF CYCLIST INJURED        0
NUMBER OF CYCLIST KILLED         0
NUMBER OF MOTORIST INJURED       0
NUMBER OF MOTORIST KILLED        0
CONTRIBUTING FACTOR VEHICLE 1    0
CONTRIBUTING FACTOR VEHICLE 2    0
COLLISION_ID                     0
VEHICLE TYPE CODE 1              0
VEHICLE TYPE CODE 2              0
dtype: int64

In [29]:
# B. I renamed the CRASH DATE column to Date to shorten it. There were thousands of missig values. In some columns there were almost as many missing values as values so I set df to only account for the columns that had sufficient data. Then after that I filled the missing values of the remaining columns with 0.

In [30]:
df['LONGITUDE']

0            0.000000
1            0.000000
2          -73.970024
3            0.000000
4            0.000000
              ...
1141414    -74.025734
1141415   -201.237060
1141416    -73.811730
1141417    -73.856260
1141418    -73.922820
Name: LONGITUDE, Length: 1141419, dtype: float64

In [31]:
df.sort_values(by='Date')

,Date,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
1134340,01/01/2017,2:45,BROOKLYN,11206.0,40.693905,-73.94892,WILLOUGHBY AVENUE,MARCY AVENUE,0,4.0,...,0.0,0.0,0.0,4.0,0.0,Unspecified,0,3591953.0,Sedan,Sedan
1138966,01/01/2017,13:55,0,0.0,40.843365,-73.91545,JEROME AVENUE,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Unsafe Lane Changing,Unspecified,3590743.0,Station Wagon/Sport Utility Vehicle,Sedan
1138284,01/01/2017,11:10,0,0.0,40.852140,-73.92071,CEDAR AVENUE,SEDGWICK AVENUE,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Unspecified,0,3590936.0,Station Wagon/Sport Utility Vehicle,0
1138274,01/01/2017,14:00,QUEENS,11428.0,40.719276,-73.73551,0,0,94-80 SPRINGFIELD BOULEVARD,0.0,...,0.0,0.0,0.0,0.0,0.0,Unspecified,0,3590179.0,Sedan,0
1138973,01/01/2017,4:30,BROOKLYN,11237.0,40.699436,-73.91229,MYRTLE AVENUE,GATES AVENUE,0,2.0,...,0.0,0.0,0.0,2.0,0.0,Passing Too Closely,Unspecified,3590482.0,Station Wagon/Sport Utility Vehicle,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296263,12/31/2023,20:06,STATEN ISLAND,10312.0,40.541656,-74.16610,AMBOY ROAD,WAIMER PLACE,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Alcohol Involvement,Unspecified,4691542.0,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
296260,12/31/2023,10:30,0,0.0,0.000000,0.00000,NEWPORT AVENUE,RIIS PARK,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inattention/Distraction,0,4691946.0,Sedan,0
296258,12/31/2023,0:00,QUEENS,11369.0,40.767834,-73.87908,23 AVENUE,91 STREET,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Driver Inattention/Distraction,Unspecified,4692126.0,Sedan,Sedan
296267,12/31/2023,18:25,MANHATTAN,10032.0,40.841050,-73.94274,0,0,173 FORT WASHINGTON AVENUE,1.0,...,0.0,0.0,0.0,0.0,0.0,Unspecified,0,4691765.0,Taxi,E-Bike
299010,12/31/2023,0:34,MANHATTAN,10013.0,40.715584,-74.00304,LAFAYETTE STREET,WORTH STREET,0,1.0,...,0.0,1.0,0.0,0.0,0.0,Failure to Yield Right-of-Way,Driver Inattention/Distraction,4693484.0,Station Wagon/Sport Utility Vehicle,Bike

In [32]:
df[0:5]

,Date,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,09/11/2021,2:39,0,0.0,0.00000,0.000000,WHITESTONE EXPRESSWAY,20 AVENUE,0,2.0,...,0.0,0.0,0.0,2.0,0.0,Aggressive Driving/Road Rage,Unspecified,4455765.0,Sedan,Sedan
1,03/26/2022,11:45,0,0.0,0.00000,0.000000,QUEENSBORO BRIDGE UPPER,0,0,1.0,...,0.0,0.0,0.0,1.0,0.0,Pavement Slippery,0,4513547.0,Sedan,0
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,OCEAN PARKWAY,AVENUE K,0,1.0,...,0.0,0.0,0.0,1.0,0.0,Unspecified,Unspecified,4675373.0,Moped,Sedan
3,06/29/2022,6:55,0,0.0,0.00000,0.000000,THROGS NECK BRIDGE,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Following Too Closely,Unspecified,4541903.0,Sedan,Pick-up Truck
4,09/21/2022,13:21,0,0.0,0.00000,0.000000,BROOKLYN BRIDGE,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,Passing Too Closely,Unspecified,4566131.0,Station Wagon/Sport Utility Vehicle,0

In [33]:
df[df['Date'] > 01/01/2022]

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (944107984.py, line 1)