In [11]:
#view data
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://ia-340-2025-fall-monsenca/Motor_Vehicle_Collisions_-_Crashes.csv.crdownload') # load the data from s3
df.head() #show the top 5 rows

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765.0,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547.0,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,Unspecified,NaN,NaN,4675373.0,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903.0,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4566131.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [12]:
# A. I used head to view my data so it shows the first 5 rows. There are both numeric and text columns. As a first impression, I see a lot of missing values in several different columns so those will need to be handled.

In [13]:
df.shape

(1141419, 29)

In [16]:
#rename columns
df = df.rename(columns={"CRASH DATE": "Date"})
df.head()

,Date,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765.0,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547.0,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,Unspecified,NaN,NaN,4675373.0,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903.0,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4566131.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [25]:
df.isnull().sum()

Date                                   0
CRASH TIME                             0
BOROUGH                           401793
ZIP CODE                          401983
LATITUDE                           83292
LONGITUDE                          83292
LOCATION                           83292
ON STREET NAME                    287041
CROSS STREET NAME                 591298
OFF STREET NAME                   855578
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              30
NUMBER OF PEDESTRIANS INJURED          1
NUMBER OF PEDESTRIANS KILLED           1
NUMBER OF CYCLIST INJURED              1
NUMBER OF CYCLIST KILLED               1
NUMBER OF MOTORIST INJURED             1
NUMBER OF MOTORIST KILLED              1
CONTRIBUTING FACTOR VEHICLE 1       4732
CONTRIBUTING FACTOR VEHICLE 2     208109
CONTRIBUTING FACTOR VEHICLE 3    1053060
CONTRIBUTING FACTOR VEHICLE 4    1120210
CONTRIBUTING FACTOR VEHICLE 5    1135364
COLLISION_ID                           1
VEHICLE TYPE CODE 1                10245
VEHICLE TYPE CODE 2               291704
VEHICLE TYPE CODE 3              1058181
VEHICLE TYPE CODE 4              1121215
VEHICLE TYPE CODE 5              1135587
dtype: int64